body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    margin: auto;
    margin-top: 50px;
}

.Title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 40px;
    line-height: 35.89px;
    letter-spacing: 0%;
    width: 149px;
    height: 36px;
    margin-top: 68px;
    
}


#home-score-left{
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color: #F94F6D;
    margin-top: 0px;
}


#home-score-right{
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
    color: #F94F6D;
    margin-top: 0px;
}

.Title-score-box{
    background-color: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}


.left-button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.button-g{
     font-family: Cursed Timer ULiL;
     background-color: #1B244A;
     color: #9AABDB;
     width: 45px;
     height: 45px;
     border: 2px solid ;
     border-radius: 5px;
}


.Game{
    display: flex;
    flex-direction: column;
    
}

.btn{
    display: block;
    margin: 0;  
    display: flex;
    justify-content: center;
    padding: 2px;
     
}
.btn-txt{
      font-family: Cursed Timer ULiL;
       background-color: #1B244A;
     color: #9AABDB;
     height: 45px;
     border: 2px solid ;
     border-radius: 5px;
}